schemas/building.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="building">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>      
        <xs:element name="model" type="xs:string"/>
        <xs:element name="scale" type="xs:float" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
