schemas/layout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="layout">
    <xs:complexType>
      <xs:group ref="widgetGroup"
                minOccurs="0" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>
  
  <!-- Widgets that may appear anywhere -->
  <xs:group name="widgetGroup">
    <xs:choice>
      <xs:element name="window" type="windowType"/>
      <xs:element name="button" type="buttonType"/>
      <xs:element name="label" type="labelType"/>
    </xs:choice>
  </xs:group>

  <!-- Attributes for all widgets -->
  <xs:complexType name="widgetType">
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <!-- Top-level windows -->
  <xs:complexType name="windowType">
    <xs:complexContent>
      <xs:extension base="widgetType">
        <xs:group ref="widgetGroup"
                  minOccurs="0" maxOccurs="unbounded"/>
        <xs:attribute name="title" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Text labels -->
  <xs:complexType name="labelType">
    <xs:complexContent>
      <xs:extension base="widgetType">
        <xs:attribute name="text" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Push buttons -->
  <xs:complexType name="buttonType">
    <xs:complexContent>
      <xs:extension base="widgetType">
        <xs:attribute name="label" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
